.code {
    width: 96%;
    margin: 2%;
    height: 300px;
    border-radius: 8px;
    background-color: rgb(34, 34, 34);
}

.codeOutput {
    margin: 20px;
}

.codeOutput p {
    color: rgb(244, 242, 237);
}

.buttons {
    width: 100%;
    height: 35px;
    background-color: rgb(50, 50, 50);
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 4px;
    background-color: red;
}

.first {
    background-color: rgb(255, 96, 86);
}

.second {
    background-color: rgb(255, 189, 45);
}

.third {
    background-color: rgb(38, 201, 64);
}