.app {
  width: 1400px;
  max-width: 1600px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app input {
  border: solid rgba(0, 0, 0, 0.16) 1px;
  box-sizing: border-box;
  padding: 16px;
  margin: 2%;
  border-radius: 5px;
}

.buttonContinares {
  margin: 2%;
  display: flex;
  justify-content: flex-end;
}

.buttonContinares button {
  text-transform: uppercase;
  padding: 7px;
  border: none;
}

.queryButton {
  border-radius: 10px;
  background-color: #144BB8;
  cursor: pointer;
  color: white;
}

.clearButton {
  border-radius: 10px;
  background-color: #144BB8;
  cursor: pointer;
  color: white;
  margin-left: 15px;
}

.headline {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: solid grey;
}